@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-background;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-weight: normal;
  @apply bg-background;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.lil-gui {
  z-index: 9999 !important;
}

.button-70 {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-70-red {
  background-image: linear-gradient(#fb4141, #ea0d0d);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-70-disabled {
  cursor: not-allowed !important;
  background-image: linear-gradient(#4d4d4d, #3a3a3a);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #797979;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-70:hover {
  background-image: linear-gradient(#3de5ff, #2386ff);
}

.button-70-red:hover {
  background-image: linear-gradient(#ff4747, #ff2b2b);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
  margin: 0;
}

.lil-gui .controller.option select {
  background: #1f1f1f !important;
}

@font-face {
  font-family: "Sablon";
  src: local("Sablon"), url("./fonts/Sablon_Up_College.otf") format("opentype"),
    url("./fonts/Sablon_Up_College.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
