@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-background;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-weight: normal;
  @apply bg-background;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
  margin: 0;
}
